* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #f0f2f5;
  font-family: Helvetica, Arial, sans-serif;
}

main {
  display: flex;
  align-items: center;
}

.mainHeader {
  width: 60em;
  height: 62em;
  display: flex;
  flex-direction: column;

}

.mainHeader .img {
  width: 22em;
  height: 7em;
  margin: 12em auto 0 23.5em;
}

.mainHeader .description {
  width: 26.6em;
  display: flex;
  margin: 0 0 0 20em;
  font-size: 1.3em;
}

.mainHeader .description h2 {
  font-weight: 300;
}

.mainBox {
  margin-bottom: 10em;
  margin-left: 6em;
}

.loginBox {
  width: 28em;
  height: 26em;
  padding: 11px;
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 13px;}

#email, #password {
  width: 21.5em;
  height: 3em;
  padding: 20px;
  margin: 0.5em;
  font-size: 1.2em;
  border-radius: 5px;
  border: 0.1em solid rgba(175, 175, 175, 0.534);
}

.loginBox .enter {
  width: 17em;
  height: 4em;
  margin: 10px auto;
  font-size: 1.5em;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  background: #087bff;
  color: #fff;
  cursor: pointer;
}

.loginBox .newPass {
  margin: 1em auto;
  text-decoration: none;
  color: #085aff;
  font-size: 1em;
}

.loginBox .createAccount {
  width: 26em;
  height: 10em;
  display: flex;
  margin: 1em auto;
  border-top: 1px solid rgb(201, 201, 201);
}

.createAccount button {
  font-size: 1.2em;
  font-weight: 600;
  background: rgb(9, 173, 45);
  color: white;
  margin: 1.5em auto auto auto;
  padding: 0.8em;
  border: none;
  border-radius: 5px;
}

.descriptionToCreate {
  width: 28em;
  display: flex;
  text-align: center;
  margin: 2em auto;
}